<?xml version="1.0" encoding="UTF-8" ?>

<!--
 This file is part of the RPSContactBundle package.

 (c) Yos Okusanya <yos.okus@gmail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.
-->

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <!-- Event listener -->
        <service id="rps_contact.listener.user_preremove" class="%rps_contact.listener.user.class%">
            <tag name="doctrine.event_listener" event="preRemove" />
            <argument type="service" id="service_container" />
            <argument type="service" id="logger" on-invalid="null" />
        </service>
    </services>

</container>
